/**
 * e-2.org stylesheet for white|grey
 * contains mostly colour and background information
 */

/* main background */
body, #footer {
  background:#fff url(../images/bg/whitegrey.gif) repeat-y top center;
}
/* right column (on grey) */
div.rightcol {
  color:#ddd;
}
div.rightcol a {
  color:#eee;
}
div.rightcol a:hover {
  color:#fff;
}
div.rightcol h1.title {
  color:#ff0;
	background:transparent url(../images/bg/yellow30.gif) repeat-y left top;
}
div.rightcol h2.subtitle {
  color:#fff;
}
/* left column (on white) */
div.leftcol {
	color:#666;
}
div.leftcol a {
  color:#555;
}
div.leftcol a:hover {
  color:#444;
}
div.leftcol h1.title {
  background:transparent url(../images/bg/purple30.gif) repeat-y right top;
  color:#c3c;
}
div.leftcol h1.title a {
  color:#c3c;
}
div.leftcol h1.title a:hover {
  color:#000;
}
div.leftcol h2.subtitle {
  color:#666;
}
/* contact|about */
#c li a {
  color:#555;
  background:#fff url(../images/bg/whitesquare.gif) no-repeat right 4px;
}
#c li a:hover, #c li a.current {
  color:#444;
  background-position:right -26px;
}
#a li a {
  color:#eee;
  background:#999 url(../images/bg/greysquare.gif) no-repeat left 4px;
}
#a li a:hover, #a li a.current {
  color:#fff;
  background-position:left -26px;
}
