/* commissions and projects lists */

ul.commissions,
ul.projects {
    position: relative;
    list-style: none;
    border: 0;
	margin: 0;
}

ul.commissions, ul.projects {
	list-style:none;
	margin:0;
	li {
		padding:.35em 0;
	}
	a {
		span {
			&.name, &.project {
				display:inline-block;
				padding:0 .35em;
				@media (min-width: 800px) /* break-md */ {
					white-space: nowrap;
				}
			}
		}
	}
}
body.projects {
	
	ul.commissions {
		padding: 0 0 0 1em;
		a span.project {
			color:var(--white);
		}
	}
	ul.projects {
		padding: 0 1em 0 0;
		a span.project {
			color:var(--darkergrey);
		}
	}
}
body.commissions {
	ul.commissions {
		padding: 0 0 0 1em;
		a span.project {
			color:var(--darkergrey);
		}
	}
	ul.projects {
		padding: 0 1em 0 0;
		a span.project {
			color:var(--white);
		}
	}

}