/* commissions and projects lists */

ul.commissions,
ul.projects {
    position: relative;
    list-style: none;
    border: 0;
	margin: 0;
}

ul.commissions, ul.projects {
	li {
		padding:.35em 0;
	}
	a {
		span {
			&.name, &.project {
				display:inline-block;
				padding:0 .35em;
				white-space: nowrap;
			}
		}
	}
}
ul.commissions {
	padding: 0 0 0 1.5em;
	li {
		border-left:5px solid transparent;
	}
	a span.name {
		color:$yellow;
	}
}
ul.projects {
    padding: 0 1.5em 0 0;
    float: right;
	a span.name {
		color:$purple;
	}
}