body {
    font: 76%/1.2em 'lucida sans unicode', 'lucida sans', verdana, arial, helvetica, sans-serif;
}

h1 {
    margin: 0;
    font: bold 1.2em/1.5em verdana, arial, helvetica, sans-serif;
}

h2 {
    font: bold 1.1em/1.4em verdana, arial, helvetica, sans-serif;
}

h3,
h4,
h5,
h6 {
    font: bold 1em/1.3em verdana, arial, helvetica, sans-serif;
}

a {
    text-decoration: none;
    border: 0;
}